*.swp
*.kate-swp
*~
*.[sb]#?
*.o
*.hex
*.out
/software/nbproject/private//software/pc/sauv_g.xml
/software/pc/sauv_poids
/software/pc/sauv_posX
/software/pc/sauv_posY
/software/pc/sauv_g.xml
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/cmake_clean.cmake
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/DependInfo.cmake
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/depend.internal
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/progress.make
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/build.make
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/C.includecache
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/cmake_clean.cmake
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/CXX.includecache
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/DependInfo.cmake
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/depend.internal
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/flags.make
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/depend.make
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/link.txt
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/depend.make
/software/avr/atmega2560/CMakeFiles/balise_robot.out.dir/progress.make
/software/avr/atmega2560/CMakeFiles/balise_robot.hex.dir/build.make
/software/avr/atmega2560/CMakeFiles/CMakeDirectoryInformation.cmake
/software/avr/atmega2560/CMakeFiles/upload_balise_robot.dir/build.make
/software/avr/atmega2560/CMakeFiles/upload_balise_robot.dir/cmake_clean.cmake
/software/avr/atmega2560/CMakeFiles/upload_balise_robot.dir/DependInfo.cmake
/software/avr/atmega2560/CMakeFiles/upload_balise_robot.dir/progress.make
/software/avr/atmega2560/CMakeFiles/progress.marks
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/build.make
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/depend.make
/software/avr/atmega328p/CMakeFiles/asservissement.hex.dir/progress.make
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/build.make
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/C.includecache
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/CXX.includecache
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/depend.make
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/flags.make
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/link.txt
/software/avr/atmega328p/CMakeFiles/asservissement.out.dir/progress.make
/software/avr/atmega328p/CMakeFiles/CMakeDirectoryInformation.cmake
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/build.make
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/depend.make
/software/avr/atmega328p/CMakeFiles/compteur.hex.dir/progress.make
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/build.make
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/C.includecache
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/CXX.includecache
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/depend.make
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/flags.make
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/link.txt
/software/avr/atmega328p/CMakeFiles/compteur.out.dir/progress.make
/software/avr/atmega328p/CMakeFiles/progress.marks
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/build.make
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/depend.make
/software/avr/atmega328p/CMakeFiles/tests.hex.dir/progress.make
/software/avr/atmega328p/CMakeFiles/tests.out.dir/build.make
/software/avr/atmega328p/CMakeFiles/tests.out.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/tests.out.dir/CXX.includecache
/software/avr/atmega328p/CMakeFiles/tests.out.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/tests.out.dir/depend.internal
/software/avr/atmega328p/CMakeFiles/tests.out.dir/depend.make
/software/avr/atmega328p/CMakeFiles/tests.out.dir/flags.make
/software/avr/atmega328p/CMakeFiles/tests.out.dir/link.txt
/software/avr/atmega328p/CMakeFiles/tests.out.dir/progress.make
/software/avr/atmega328p/CMakeFiles/upload_asservissement.dir/build.make
/software/avr/atmega328p/CMakeFiles/upload_asservissement.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/upload_asservissement.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/upload_asservissement.dir/progress.make
/software/avr/atmega328p/CMakeFiles/upload_compteur.dir/build.make
/software/avr/atmega328p/CMakeFiles/upload_compteur.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/upload_compteur.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/upload_compteur.dir/progress.make
/software/avr/atmega328p/CMakeFiles/upload_tests.dir/build.make
/software/avr/atmega328p/CMakeFiles/upload_tests.dir/cmake_clean.cmake
/software/avr/atmega328p/CMakeFiles/upload_tests.dir/DependInfo.cmake
/software/avr/atmega328p/CMakeFiles/upload_tests.dir/progress.make
/software/avr/atmega328p/cmake_install.cmake
/software/avr/CMakeFiles/CMakeDirectoryInformation.cmake
/software/CMakeFiles/CMakeCCompiler.cmake
/software/CMakeFiles/cmake.check_cache
/software/CMakeFiles/CMakeCXXCompiler.cmake
/software/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/software/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/software/CMakeFiles/CMakeDirectoryInformation.cmake
/software/CMakeCache.txt
/software/CMakeFiles/CMakeRuleHashes.txt
/software/CMakeFiles/CMakeSystem.cmake
/software/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/software/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/software/CMakeFiles/Makefile2
/software/CMakeFiles/Makefile.cmake
/software/CMakeFiles/progress.marks
/software/CMakeFiles/TargetDirectories.txt
/software/cmake_install.cmake
/software/.project
/software/avr/atmega2560/cmake_install.cmake
/software/avr/atmega2560/Makefile
/software/avr/atmega328p/Makefile
/software/avr/CMakeFiles/progress.marks
/software/avr/cmake_install.cmake
/software/avr/Makefile
/software/.cproject
/software/.kdev_include_paths
/software/Makefile
/software/pc/lib/trace_x_y
/software/pc/lib/test_serie.py
